 <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sidebar Menu
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href= "/catalog">Home</a></li>
    <li><a class="dropdown-item" href= "/catalog/books">All Books</a></li>
    <li><a class="dropdown-item" href= "/catalog/authors">All Authors</a></li>
    <li><a class="dropdown-item" href= "/catalog/genres">All Genres</a></li>
    <li><a class="dropdown-item" href= "/catalog/bookinstance">All Book Instances</a></li>
    <li><a class="dropdown-item" href= "/catalog/author/create">Add Author</a></li>
    <li><a class="dropdown-item" href= "/catalog/genres/create">Add Genre</a></li>
    <li><a class="dropdown-item" href= "/catalog/book/create">Add Book</a></li>
    <li><a class="dropdown-item" href= "/catalog/bookinstance/create">New Book Instance</a></li>
  </ul>
</div>
